@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}



:root {
    --custom-color-primary-light: #f9f9ff;
    --custom-color-primary: #4B7E8D;
    --custom-color-primary-dark: #5e91a0;
    --custom-color-secondary: #e8f1f2;
    --custom-color-secondary-dark: #9BCFDF;
    --custom-color-tertiary: #f8fafb;
    --custom-color-tertiary-dark: #316573;
    --custom-color-neutral-dark: #263142;
    --custom-color-neutral: #545F72;
    --custom-color-gray: #eff2f6;
    --custom-color-other: #f0f3ff;
}

.custom-color-other-bg {
    background-color: var(--custom-color-other);
}

.primary-light-bg {
    background-color: var(--custom-color-primary-light);
}

.primary-light-text {
    color: var(--custom-color-primary-light);
}

.primary-bg {
    background-color: var(--custom-color-primary);
}

.primary-text {
    color: var(--custom-color-primary);
}

.primary-dark-bg {
    background-color: var(--custom-color-primary-dark);
}

.primary-dark-text {
    color: var(--custom-color-primary-dark);
}

.custom-gray-bg {
    background-color: var(--custom-color-gray);
}

.secondary-bg {
    background-color: var(--custom-color-secondary);
}

.secondary-text {
    color: var(--custom-color-secondary);
}

.secondary-dark-bg {
    background-color: var(--custom-color-secondary-dark);
}

.secondary-dark-text {
    color: var(--custom-color-secondary-dark);
}

.tertiary-bg {
    background-color: var(--custom-color-tertiary);
}

.tertiary-text {
    color: var(--custom-color-tertiary);
}

.tertiary-dark-bg {
    background-color: var(--custom-color-tertiary-dark);
}

.tertiary-dark-text {
    color: var(--custom-color-tertiary-dark);
}

.neutral-bg {
    background-color: var(--custom-color-neutral);
}

.neutral-text {
    color: var(--custom-color-neutral);
}

.neutral-dark-bg {
    background-color: var(--custom-color-neutral-dark);
}

.neutral-dark-text {
    color: var(--custom-color-neutral-dark);
}


.button-primary {
    background-color: var(--custom-color-tertiary-dark);
    border-radius: 0.7rem;
    color: var(--custom-color-tertiary);
    border: 1px solid transparent;
    transition: 0.3s;

}

.button-primary:hover {
    background-color: var(--custom-color-primary-dark);
}

.button-secondary {
    background-color: var(--custom-color-primary-light);
    border-radius: 1.5rem;
    color: var(--custom-color-neutral-dark);
    border: 1px solid transparent;
    transition: 0.3s;
}

.button-secondary:hover {
    background-color: var(--custom-color-secondary-dark);
}

.button-inverted {
    background-color: var(--custom-color-neutral-dark);
    border-radius: 1.5rem;
    color: var(--custom-color-tertiary);
    border: 1px solid transparent;
    transition: 0.3s;
}

.button-inverted:hover {
    background-color: var(--custom-color-neutral);
}

.button-outlined {
    background-color: var(--custom-color-tertiary);
    border-radius: 1.5rem;
    color: var(--custom-color-neutral);
    border: 1px solid var(--custom-color-neutral);
    transition: 0.3s;
}

.button-outlined:hover {
    background-color: var(--custom-color-tertiary-dark);
    color: var(--custom-color-tertiary);
    border-color: var(--custom-color-tertiary-dark);
}

.custom-fs1 {
    font-size: 0.9rem;
}

.custom-weight-6 {
    font-weight: 600;
}

.cizgili-yazi {
    display: flex;
    align-items: center;
    text-align: center;

}

.page-width-limit {
    max-width: 400px;
}


.cizgili-yazi::before,
.cizgili-yazi::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.cizgili-yazi span {
    padding: 0 20px;
    color: rgba(0, 0, 0, 0.2);
}

.input-custom {
    height: 50px;
}

.form-main input:focus {
    outline: none;
    box-shadow: none;
    border-color: var(--custom-color-primary-dark);
}

.checkbox-main small a {
    text-decoration: none;
    color: var(--custom-color-tertiary-dark);
}

.form-link {
    text-decoration: none;
    color: inherit;
}

.dont-have a {
    text-decoration: none;
    color: var(--custom-color-tertiary-dark);
}


.footer-div h1 {
    color: var(--custom-color-tertiary-dark);
}

.cizgi-footer {
    display: flex;
    align-items: center;
    text-align: center;

}

.cizgi-footer::before,
.cizgi-footer::after {
    content: '';
    flex: 1;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.footer-div ul {
    list-style-type: none;
}

.code-main input {
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    border: none;
    background-color: #f0f2f5;
    border-radius: 8px;
    color: #333;
    transition: all 0.2s ease;
}

.code-width-limit {
    max-width: 577px;

}

.reset-width-limit {
    max-width: 520px;

}


.mini-card-limit {
    max-width: 570px;
}

.custom-policy-button {
    background-color: white;
    color: var(--custom-color-tertiary-dark);
    transition: 0.3s;
}

.custom-policy-button:hover {
    background-color: var(--custom-color-primary);
    color: White;
    transition-duration: 0.3s;
}

.custom-hover1 {
    transition: 0.3s;
}

.custom-hover1:hover {
    transition-duration: 0.3s;
    color: var(--custom-color-primary-dark);
}

.custom-hover2 {
    transition: 0.3s;
}

.custom-hover2:hover {
    transition-duration: 0.3s;
    background-color: var(--custom-color-gray);
}

.custom-hover3 {
    transition: 0.3s;
    color: gray;
}

.custom-hover3:hover {
    transition-duration: 0.3s;
    color: black;
}

.custom-hover4 {
    background-color: white;
    transition: 0.5s;
}

.custom-hover4:hover {
    color: white;
    transition-duration: 0.5s;
    background-color: var(--custom-color-primary);
}


.custom-move-x {
    transition: transform 0.5s cubic-bezier(0.16, 1, 0.3, 1);
    will-change: transform;
}

.custom-move-x:hover {
    transform: scale(1.03) translateX(10px);
}

.custom-card-effect {
    background-color: white;
    border: 1px solid #e0e0e0;
    transition: border-color 0.4s cubic-bezier(0.25, 1, 0.5, 1),
        box-shadow 0.4s cubic-bezier(0.25, 1, 0.5, 1);
    will-change: border-color, box-shadow;
}

.custom-card-effect:hover {
    border-color: var(--custom-color-tertiary-dark);
    box-shadow: 0 0px 25px var(--custom-color-tertiary-dark);
}

.mini-card h1,
.mini-card li a {
    font-size: 0.9rem;
}

.mini-card li a {
    color: black;
    transition: 0.2s;
    line-height: 2;
    transform: translateX(0);
    display: inline-block;
}

.mini-card li a:hover {
    color: var(--custom-color-primary);
    transform: translateX(10px);
}


.custom-border {
    border: 1px solid #acacac;
}

.img-hover-zoom {
    transition: transform 0.3s ease-in-out;
}

.img-hover-zoom:hover {
    transform: scale(1.1);
}